/* line 18, css/styles.scss */
/* line 2, css/styles.css */
body, html {
  height: 100%; }

/* line 22, css/styles.scss */
/* line 6, css/styles.css */
.jumbotron {
  background-color: #f3eb07;
  color: #0e120e;
  margin-top: 50px;
  margin-bottom: 10px; }

/* line 27, css/styles.scss */
/* line 13, css/styles.css */
footer {
  padding: 10px 10px 0px 10px;
  background-color: #f3eb07;
  margin-top: 10px;
  margin-bottom: 0px; }

/* line 32, css/styles.scss */
/* line 20, css/styles.css */
.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

/* line 36, css/styles.scss */
/* line 26, css/styles.css */
.btn-reserva {
  width: 100%;
  border-radius: 0px; }

/* line 40, css/styles.scss */
/* line 31, css/styles.css */
#Footer .content {
  display: flex; }

/* line 43, css/styles.scss */
/* line 35, css/styles.css */
.footer-address-icon {
  padding-right: 10px; }

/* line 47, css/styles.scss */
/* line 39, css/styles.css */
.hero-image {
  /*background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
   */
  height: 65%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: 0px;
  margin-bottom: 15px; }

/* line 57, css/styles.scss */
/* line 51, css/styles.css */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff; }

/* line 65, css/styles.scss */
/* line 60, css/styles.css */
.tab-content {
  padding-top: 10px; }

/* line 68, css/styles.scss */
/* line 64, css/styles.css */
.popover-title,
.popover-content, .popover-header {
  background-color: #0f4f05 !important;
  color: #ffffff; }

/* line 73, css/styles.scss */
/* line 70, css/styles.css */
.popover-body {
  background-color: #9b210b !important;
  color: #ffffff; }
