$yellow: #e0dd19;
$red: #9b210b;
$green: #0f4f05;
$black: #0e120e;
$white: #ffffff;

@mixin margenes($top, $botton) {
    margin-top: $top;
    margin-bottom: $botton;
}
@mixin paddingconfig($top,$right,$botton,$left) {
    padding: $top $right $botton $left;
}

@mixin colores($color){
    color: $color;
}
body, html {
    height: 100%;
}

.jumbotron{
    background-color: $yellow;
    color: $black;
    @include margenes(50px, 10px);
}
footer{
    @include paddingconfig(10px, 10px, 0px, 10px);
    background-color:$yellow;
    @include margenes(10px, 0px);
}
.card-hotel{
    flex: 1 200px;
    @include margenes(10px, 0px);
}
.btn-reserva{
    width: 100%;
    border-radius: 0px;
}
#Footer .content{
    display: flex;
}
.footer-address-icon{
    padding-right: 10px;
}

.hero-image{
    /*background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/banner.jpg");
   */ height: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    @include margenes(0px, 15px);
}

.hero-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include colores($white);
}
.tab-content{
    padding-top: 10px;
}
.popover-title,
.popover-content,.popover-header {
    background-color: $green !important;
    @include colores($white);
}
.popover-body {
    background-color: $red !important;
    @include colores($white);
}